doctype html
html
  head
    title= "A Brief History of Time"
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    div.container
      block content
